body {
  background-color:black;
}

a h6 {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}

.whiteverdana {
  font-family: verdana;
  color: white;
}

#heading {
  font-size:50px;
  text-align: center;

}

#subtext {
  text-align: center;
  text-size: 42px;
  text-weight: 300px;
  font-family: verdana;
  color: white;
}

#description {
  color: grey;
  text-align: center;
  font-size: 21px;
}
